<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>LUCES</title>
</head>
<body>

<h1>Control de Luces </h1>
<img src="https://inmensus.com/media/2018/03/iot-wireless.png" alt="user" style="width:300px;height:200px;"></img>

<h2></h2>
<input type='text' id='campo'><br><br>
<button id = 'enviar'type="button" onclick="Enviar();">ENVIAR</button>
<h2></h2>
<h2>Estado de las luces: </h2><h3 id="mensaje"></h3>


</body>
</html>
